<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProductApp - Details</title>
</head>
<body>
    <h1>Product Details (R)</h1>
    <!-- <%=product%> -->
    <br><br>
    <hr>
    <br><br>
    <table border="1" style="text-align: center; margin:auto">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Category ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%=product.p_id%></td>
                <td><%=product.name%></td>
                <td><%=product.price%></td>
                <td><%=product.category%></td>
                <td><%=product.cat_id%></td>
            </tr>
            
        </tbody>
    </table>
    <br><br>
    <hr>
    <br><br>
</body>
</html>